.parent {
  border: 2px solid crimson;
  background-color: chocolate;
  outline: 2px solid crimson;
  outline-offset: 3px;
  padding: 20px;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid brown;
  margin: 45px;
  padding: 30px;
  outline: 2px solid brown;
  outline-offset: 3px;
  background-color: wheat;
}

.text {
  flex: 1;
}

.pic img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid brown;
  object-fit: cover;
  margin-left: 30px;
}

a {
  display: block;
  margin-top: 10px;
  color: darkblue;
  font-weight: bold;
  text-decoration: underline;
}
a:hover{
  background-color: darkseagreen;
}
a:visited{
  color: #290202;
}
h1 {
  margin: 0;
}
