/* General reset */
body {
  background-image: url("bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  background-color: #fce4b3;
  font-family: Arial, sans-serif;
  text-align: center;
}

.whole {
  padding: 20px;
  border: 2px solid brown;
  display: inline-block;
  margin:20px;
  outline: 2px solid brown;
  outline-offset: 3px;
  border-radius: 15px;
}

header h1 {
  color: #8e0c0c;
  margin-bottom: 20px;
}

.img-container {
  margin: 20px 0;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #a33;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

h2, h5 {
  margin: 10px 0;
  color: #290202;
}

.follow-btn {
  display: inline-block;
  background-color: #055838;
  color: WHITE;
  padding: 6px 12px;
  margin: 10px auto;
  border: none;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(13, 123, 6, 0.2);
}

.linkedin-btn {
  display: inline-block;
  background-color: #0072b1;
  color: white;
  padding: 8px 16px;
  margin-top: 10px;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  box-shadow: 2px 2px 6px rgba(95, 3, 3, 0.2);
}

footer {
  margin-top: 30px;
}
a:hover{
  background-color: navy;
}
a:visited{
  color: #290202;
}
footer a{
  font-size: 18px;
  margin: 10px;
  padding: 15px;
  display: inline-block;
  text-align: center;
  border: 2px solid blue;
  background-color: cadetblue;
  border-radius: 8px;
}
